@model IEnumerable<Ingredient>

@{
	ViewBag.Title = "Ingredients";
}

<h1>List Of Ingredients</h1>
<hr />
<a asp-action="Create">Create New Ingredient</a>
<hr />
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
			{
				<tr>
					<td>
					@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						<a asp-action="Details" asp-route-id="@item.IngredientId">Details</a>
						<a asp-action="Edit" asp-route-id="@item.IngredientId">Edit</a>
						<a asp-action="Delete" asp-route-id="@item.IngredientId">Delete</a>

					</td>
				</tr>
			}
	</tbody>
</table>